body {
	font-family: "Lato", sans-serif;
	color: #747704;
	font-weight: 300;
}

header {
	text-align: right;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 3px solid #bcbbbb;
}

footer {
	padding: 20px;
	font-style: italic;
	border-top: 1px solid #bcbbbb;
}

footer a {
	text-decoration: underline;
	color: inherit;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.title-logo {
	margin-top: 30px;
	max-width: 85px;
}

.title-super {
	font-size: 60px;
}

.projects .link{
	color: inherit;
}

.projects .link:hover {
	text-decoration: none;
}

.project:hover {
	background-color: #f2f2f2;
}

/* media queries */

@media screen and (max-width: 992px) {
	/* any screens with fewer than 992px */
    header {
      text-align: center;
    }

    header img {
    	margin: auto;
    }

    footer {
    	padding-top: 5px;
    	border: none;
    }

    .title-super{
    	font-size: 40px;
    }

    .title-description{
    	font-size: 20px;
    }

		.title-logo {
			max-width: 60px;
		}

    .hero-image {
    	margin: auto;
    }

    .projects-heading {
    	font-size: 25px;
    }

    .projects .icon {
    	margin: auto;
    }

    .project {
    	margin-bottom: 10px;
    	border-bottom: 1px solid #bcbbbb;
    }

    .project-title {
    	margin-top: 10px;
    	margin-bottom: 5px;
    }
}