/*
	This portfolio is
	Project 1 of
	Front-End Web Developer Nanodegree
	For more info, go here:
		https://www.udacity.com/course/front-end-web-developer-nanodegree--nd001

	Thanks for checking out my code!

	PK Banks
	pkbanks@gmail.com
*/

body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

header {
	border-bottom: 3px solid #bcbbbb;
	padding-bottom: 5px;
}

header .logo {
	padding-top: 10px;
}

header .logo .title-logo {
	width: 80px;
	height: 80px;
}

.self-banner {
	padding: 10px;
}

.self-name,
.self-title {
	padding: 0px;
	margin: 0px;
}

.self-name {
	font-size: 50px;
}

.self-title {
	font-size: 15px;
	padding-top: 5px;
}

.hero {
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 0;
	padding-right: 0;
}

.hero img {
	display: block;
	margin: auto;
	height: 100%;
	width: 100%;

}

.projects-collection {
	color: #bcbbbb;
}

.projects {
	padding: 0px;
}

.projects-header {
	padding-left: 30px;
}

.projects-header h4 {
	font-size: 30px;
}

.thumbnail-container img {
	width: inherit;
	padding-left: 20px;
	padding-right: 20px;
	max-height: 159px;
}

.project  {
	padding: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.project-name {
	/*  color: color: #bcbbbb; */
}

.project a {
	color: #747704;
	font-weight: 300;

}

.project:hover {
	background-color: #f2f2f2;
}

.projects .project .thumbnail-container {
	padding: 0px;
}

.project-name {
	font-weight: bold;
}

.project .link:hover {
 		text-decoration: underline;
 	}

footer p {
	text-align: center;
	font-size: 12px;
	font-style: italic;
	margin: 20px;
}

footer p a {
	color: inherit;
	text-decoration: underline;
}


@media only screen and (max-width: 768px)  {
	/* For mobile phones: */
 	.logo img {
 		display: block;
 		margin: auto;
 	}

 	.self-banner {
 		text-align: center;
 	}

 	.project {
 		border-bottom: 1px solid #a0a0a0;
 	}

}